{
    "hostname": "data.thinknum.com",
    "version": "",
    "client_id": "",
    "client_secret": "",
    "workers": 10,
    "page_size": 20000,
    "searches": [
        {
            "name": "anything you want",
            "disabled": false,
            "output": "where to output the results of this search. Can container directory names, should ommit the suffix",
            "output_types": ["json", "csv"],
            "dataset": "name of the dataset to query",
            "request": {
                "filters": [
                    {
                        "column": "",
                        "type": "",
                        "value": [""]
                    }
                ]
            }
        }
    ]
}